**1-Write a Python program to calculate the length of a string using 2 ways**

In [17]:
name = input()
print(len(name))

hussien
7

In [18]:
counter = 0
for char in name:
    counter+=1
print(counter)

7

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)**

In [2]:
x = input()
if len(x) <2 :
    print(" ")
elif len==2:
    print(x+x)
else:
    print(x[0:2]+x[-2:])

w3resource
w3ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')**

In [6]:
c = input()
if len(c) < 3:
    print(c)
else:
    if c[-3:] == "ing":
        print(c[0:-3]+"ly")
    else:
        print(c+"ing")

abc
abcing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)**

In [12]:
x = ['Hussien','Ahmed','Hamza','Fathy']
def returnmaxlength():
    counter = 0
    maxword = None
    
    for word in x:
        if len(word) > counter:
            counter = len(word)
            maxword = word
    return counter, maxword

In [13]:
returnmaxlength()

(7, 'Hussien')

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [14]:
name = input()
print(name[-1]+name[1:-1]+name[0])

Hussien
nussieH

In [15]:
name = input()
a = name[-1]
b = name[0]
c = name[1:-1]
print(a+c+b)

Hussien
nussieH

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)**

In [17]:
name = input()
print(name[0::2])

abca
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)**

In [18]:
s = "amr and ahmed are frindes but amr is the tallest"
words = s.split()
for i in words:
    print(i, s.count(i))

amr 2
and 1
ahmed 1
are 1
frindes 1
but 1
amr 2
is 1
the 1
tallest 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases**

In [20]:
name = input()
print(name.upper())
print(name.lower())

hussien
HUSSIEN
hussien

**9-Write a Python function to reverse a string if its length is a multiple of 4**

In [26]:
name = input()
if len(name) % 4 == 0:
    print(name[::-1])
else:
    print(name)

Hussien
Hussien

**10- Write a Python program to remove a newline in Python**

In [30]:
string = '''hussien
farg
fathy'''
string = string.replace("\n", " ")
string

'hussien farg fathy'

**11-Write a Python program to check whether a string starts with a specific characters**

In [1]:
name = input()
ch = 'A'
if name[0] == ch :
    print("Yes")
else:
    print("No")

Ahmed
Yes

**12- Write a Python program to add prefix text to all of the lines in a string**

In [7]:
name = '''Ahmed
Hussien
Fathy'''
lines = name.splitlines()

for line in lines :
    print('Eng',line)

Eng Ahmed
Eng Hussien
Eng Fathy

**13-Write a Python program to print numbers up to 2 decimal places**

In [3]:
number = float(input("Please enter your number: "))
round(number,2)

Please enter your number: 3.555

3.56

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign**

In [5]:
number = float(input("Please enter your number: "))
if number >= 0:
    print('+'+str(number)[0:4])
else:
    print('-'+str(number)[0:4])

Please enter your number: 2.5555
+2.55

**15-Write a Python program to display a number with a comma separator**

In [12]:
import locale

def format_number_with_commas(number):
    
    locale.setlocale(locale.LC_ALL, '')
    return locale.format_string("%d", number, grouping=True)


numbers = [1000, 12345, 987654321, 1234567]
for num in numbers:
    print(format_number_with_commas(num))

1,000
12,345
987,654,321
1,234,567

**16-Write a Python program to reverse a string using 2 ways**

In [13]:
name = input("Please enter your name: ")
reversedname= name[::-1]
reversedname

Please enter your name: hussien farg

'graf neissuh'

In [15]:
name = input("Please enter your name: ")
for i in range(len(name)-1,-1,-1):
    print(name[i], end="" )

Please enter your name: hussien farg
graf neissuh

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)**

In [19]:
name = input("Please enter your name: ")
chs = []
for i in name:
    chs.append(i)
    
dic = dict()
for i in chs:
    dic[i] = name.count(i)
dic

Please enter your name: hussienfarg

{'h': 1,
 'u': 1,
 's': 2,
 'i': 1,
 'e': 1,
 'n': 1,
 'f': 1,
 'a': 1,
 'r': 1,
 'g': 1}

**18-Write a Python program to find the first non-repeating character in a given string**

In [23]:
name = "aagghhyuu"
for i in name:
    if name.count(i) == 1:
        print(i)
        break

y

**19-Write a Python program to remove spaces from a given string**

In [24]:
name = 'hussien  farg '
newname = name.replace(' ','')
newname

'hussienfarg'

**20-Write a Python program to count the number of non-empty substrings of a given string**

In [2]:
def number_of_supstring(str):
    str_len = len(str)
    return int(str_len * (str_len + 1) / 2 )
number_of_supstring("hussien")

28

**21-write a Python program to swap first and last element of any list.**

In [3]:
l = ['Ahmed','Hussien','fathy','Hamza']
l[0] , l[-1] = l[-1] , l[0]
l

['Hamza', 'Hussien', 'fathy', 'Ahmed']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])**

In [4]:
l = [1,2,3,5,6]
pos1 = int(input())
pos2 = int(input())
l[pos1] , l[pos2] = l[pos2] , l[pos1]
l

2
1

[1, 3, 2, 5, 6]

**23- search for the all ways to know the length of the list**

In [9]:
l = [1,2,3,4,5,6]
print(len(l))

6

In [8]:
l = [1,2,3,4,5,6]
counter = 0
for i in l:
    counter+=1
print(counter)

6

**24-write a Python code to find the Maximum number of list of numbers.**

In [1]:
max([1,2,3,5,8,7,2,100,200])

200

**25-write a Python code to find the Minimum number of list of numbers.**

In [12]:
min([1,2,3,5,8,7,2,100,200])

1

**26-search for if an elem is existing in list**

In [3]:
def check_element_in_list(element, my_list):
    if element in my_list:
        return True
    else:
        return False

my_list = [1, 2, 3, 4, 5]
element_to_check = "Ahmed"

if check_element_in_list(element_to_check, my_list):
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

Ahmed does not exist in the list.

**27- clear python list using different ways**

In [5]:
l = [1,2,3,4,5]
l.clear()
l

[]

In [7]:
l = [1,2,3,4,5]
while len(l) != 0:
    l.pop()
l

[]

**28-remove duplicated elements from a list**

In [9]:
l = [1,2,3,4,5,5,1,2,3,4]
l = set(l)
l = list(l)
l

[1, 2, 3, 4, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])**

In [20]:
keys = ['name', 'Age', 'Salary']
values = ['Ahmed', 21, 10000]
d = dict()

for i in range(len(keys)):
    d[keys[i]] = values[i]

print(d)

{'name': 'Ahmed', 'Age': 21, 'Salary': 10000}

**30-write a python program to count unique values inside a list using different ways**

In [21]:
my_list = [1, 2, 3, 2, 4, 3, 5, 6, 1]
unique_count = len(set(my_list))
print(unique_count)

6

In [1]:
my_list = [1, 2, 3, 2, 4, 3, 5, 6, 1]
unique_values = {}
for item in my_list:
    unique_values[item] = unique_values.get(item, 0) + 1
unique_count = len(unique_values)
print(unique_count)

6

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )**

In [9]:
l = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
x = []
k = 3
for i in l:
    if l.count(i)>k:
        x.append(i)
x = set(x)
x = list(x)
x

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)**

In [29]:
def find_strongest_neighbors(arr):
    strongest_neighbors = []

    for i in range(1, len(arr) - 1):
        strongest_neighbors.append(max(arr[i - 1], arr[i + 1]))

    return strongest_neighbors

input_list = [1, 2, 2, 3, 4, 5]
strongest_neighbors = find_strongest_neighbors(input_list)

print("Input:", input_list)
print("Strongest Neighbors:", strongest_neighbors)

Input: [1, 2, 2, 3, 4, 5]
Strongest Neighbors: [2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)**

In [28]:
def comb(L):
    for i in range(3):
        for j in range(3):
            for k in range(3):
                if (i!=j and j!=k and i!=k):
                    print(L[i], L[j] , L[k],'##', end=' ')
comb([1, 2, 3])

1 2 3 ## 1 3 2 ## 2 1 3 ## 2 3 1 ## 3 1 2 ## 3 2 1 ##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])**

In [22]:
def combs(a):
    if len(a) == 0:
        return [[]]
    cs = []
    for c in combs(a[1:]):
        cs += [c, c+[a[0]]]
    return cs

combs([1,2,3])

[[], [1], [2], [2, 1], [3], [3, 1], [3, 2], [3, 2, 1]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )**

In [28]:
list_1 =  ["a","b"]
list_2 = [1,2]

unique_combinations = []

for i in range(len(list_1)):
    for x in range(len(list_2)):
        unique_combinations.append((list_1[i], list_2[j]))
print(unique_combinations)

[('a', 2), ('a', 2), ('b', 2), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 
Output :2 3 4 5 2)**

In [29]:
l = [ 1 ,1 ,2 ,3 ,4 ,5 ,1 ,2 ,1 ]
l = set(l)
l = list(l)
l

[1, 2, 3, 4, 5]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])**

In [32]:
test_list1 = ['Gfg', 'is', 'best']
test_list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

res = []
for index in test_list2:
    res.append(test_list1[index])

print("The lists after index elements replacements is:", res)

The lists after index elements replacements is: ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )**

In [8]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]

K = int(input('K = '))

N = int(input('N = '))

res = []
for i in test_list:
    if i.count(K) == N:
        res.append(i)
print("Filtered tuples : " + str(res))

K = 5
N = 2
Filtered tuples : [(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]**

In [9]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

def sort_by_column(arr, column):
    sorted_arr = sorted(arr, key=lambda x: x[column])
    return sorted_arr

print("Original array:", array)

sorted_column_0 = sort_by_column(array, 0)
print("Sorted array specific to column 0:", sorted_column_0)

sorted_column_1 = sort_by_column(array, 1)
print("Sorted array specific to column 1:", sorted_column_1)

sorted_column_2 = sort_by_column(array, 2)
print("Sorted array specific to column 2:", sorted_column_2)

Original array: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
** 40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [12]:
myDict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

sorted_keys = sorted(myDict.keys())

sorted_dict = {}
for key in sorted_keys:
    sorted_dict[key] = myDict[key]

print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
input : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}**

In [21]:
def remove_keys_greater_than_k(input_dict, k):
    result_dict = {}
    for key, value in input_dict.items():
        if isinstance(value, int) and value > k:
            continue
        result_dict[key] = value
    return result_dict

test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7

filtered_dict = remove_keys_greater_than_k(test_dict, K)
print(filtered_dict)

{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [22]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

concatenated_dict = {}
for i in (dic1, dic2, dic3):
    concatenated_dict.update(i)

print(concatenated_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops**

In [6]:
my_dict = {'name' : 'Hussien' , 'age' : '21' , 'email' : 'hussienfarg89@gmail.com'}
print("Iterating over key-value pairs:")
for key, value in my_dict.items():
    print(f"{key}: {value}")

Iterating over key-value pairs:
name: Hussien
age: 21
email: hussienfarg89@gmail.com

**44- Write a Python script to merge two Python dictionaries**

In [8]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

**45-Write a Python program to get the maximum and minimum values of a dictionary values**

In [10]:
my_dict = {'x':700, 'y':9874, 'z': 860}

key_max = max(my_dict.keys(), key=(lambda k: my_dict[k]))
key_min = min(my_dict.keys(), key=(lambda k: my_dict[k]))

print('Maximum Value: ',my_dict[key_max])
print('Minimum Value: ',my_dict[key_min])

Maximum Value:  9874
Minimum Value:  700

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}**

In [13]:
dict1 = {'c1': 'Red', 'c2': 'Green', 'c3':None}

new_dict = {}
for key, value in dict1.items():
    if value is not None:
        new_dict[key] = value

print("New Dictionary after dropping empty items:")
print(new_dict)

New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item**

In [24]:
Tuple = (5, 10, 15, 20, 25)
print(Tuple)
Tuple = 5,
print(Tuple)

(5, 10, 15, 20, 25)
(5,)

**48-Write a Python program to unpack a tuple into several variables**

In [27]:
Tuple = (4, 8, 3) 

n1, n2, n3 = Tuple

print(n1 , n2 , n3)

4 8 3

**49-Write a Python program to add an item to a tuple**

In [28]:
Tuple = (4, 8, 3)
Tuple = Tuple + (9,)
print(Tuple)

(4, 8, 3, 9)

**50-Write a Python program to convert a tuple to a string**

In [31]:
Tuple = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(Tuple)
print(str)

exercises

**51-Write a Python program to convert a list to a tuple**

In [32]:
List = [5, 10, 7, 4, 15, 3]
print(List)

Tuple = tuple(List)
print(Tuple)

[5, 10, 7, 4, 15, 3]
(5, 10, 7, 4, 15, 3)

**52-Write a Python program to reverse a tuple**

In [1]:
x = (5, 10, 15, 20)

y = reversed(x)
print(tuple(y))

(20, 15, 10, 5)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]**

In [3]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for t in l:
    print(t[:-1] + (100,))

(10, 20, 100)
(40, 50, 100)
(70, 80, 100)

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')**

In [10]:
def string_list_to_tuple(str1):
    result = tuple(x for x in str1 if not x.isspace()) 
    return result
str1 = "python 3.0"
print(type(str1))
print("Convert the said string to a tuple:") 
print(string_list_to_tuple(str1))
print(type(string_list_to_tuple(str1)))

<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')
<class 'tuple'>

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples**

In [11]:
def average_tuple(nums):
    result = [sum(x) / len(x) for x in zip(*nums)]
    return result

nums = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
print ("Original Tuple: ")
print(nums)
print("\nAverage value of the numbers of the said tuple of tuples:\n",average_tuple(nums))

Original Tuple:
((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))

Average value of the numbers of the said tuple of tuples:
 [30.5, 34.25, 27.0, 23.25]

**56-Write a Python program to add member(s) to a set.**

In [14]:
color_set = set()
color_set.add("Red")
print(color_set)
color_set.update(["Blue", "Green"])
print(color_set)

{'Red'}
{'Blue', 'Green', 'Red'}

**57-Write a Python program to remove an item from a set if it is present in the set.**

In [18]:
num_set = set([0, 1, 2, 3, 4, 5])
print("Original set elements:")
print(num_set)
print("Remove 0 from the said set:")
num_set.discard(4)
print(num_set)

Original set elements:
{0, 1, 2, 3, 4, 5}
Remove 0 from the said set:
{0, 1, 2, 3, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets**

In [19]:
A = {0, 2, 4, 6, 8};
B = {1, 2, 3, 4, 5};
print("Union :", A | B)
print("Intersection :", A & B)
print("Difference :", A - B)
print("Symmetric difference :", A ^ B)

Union : {0, 1, 2, 3, 4, 5, 6, 8}
Intersection : {2, 4}
Difference : {0, 8, 6}
Symmetric difference : {0, 1, 3, 5, 6, 8}

**59-Write a Python program to find the maximum and minimum values in a set**

In [25]:
Set = {5, 10, 3, 15, 2, 20}
print("Maximum value: ")
print(max(Set))
print("Minimum value: ")
print(min(Set))

Maximum value:
20
Minimum value:
2

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.**

In [27]:
def find_pairs_with_sum(arr, target_sum):
    pairs = []
    seen = set() 
    
    for num in arr:
        complement = target_sum - num
        if complement in seen:
            pairs.append((num, complement))
        seen.add(num)
    
    return pairs

input_list = [2, 4, 3, 5, 6, 1, 7, 8]
target = 9

pairs_with_sum = find_pairs_with_sum(input_list, target)

print(f"Pairs with sum {target}:")
for pair in pairs_with_sum:
    print(pair)

Pairs with sum 9:
(5, 4)
(6, 3)
(7, 2)
(8, 1)