In [29]:
pip install pandas

Requirement already satisfied: pandas in e:\anaconda\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in e:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in e:\anaconda\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in e:\anaconda\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in e:\anaconda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [31]:
import pandas as pd

file_path = r"E:\CourseAi\Ai\Tasks\Task 8\hus.csv" 

data = pd.read_csv(file_path) 
print(data)

          names     numbers                   emails
0  hussien farg  1200841433  hussienfarg89@gmail.com
1   ahmed fathy  1094210433          ahmed@gmail.com

In [32]:
data.head()

          names     numbers                   emails
0  hussien farg  1200841433  hussienfarg89@gmail.com
1   ahmed fathy  1094210433          ahmed@gmail.com

In [37]:
names= []
numbers= []
emails= []

# Iterate through the DataFrame and extract data to lists
for index, row in data.iterrows():
    names.append(row['names'])       # Assuming the column name for names is 'Name'
    numbers.append(row['numbers'])   # Assuming the column name for numbers is 'Number'
    emails.append(row['emails'])     # Assuming the column name for emails is 'Email'

# Print the lists
print("Names:", names)
print("Numbers:", numbers)
print("Emails:", emails)

Names: ['hussien farg', 'ahmed fathy']
Numbers: [1200841433, 1094210433]
Emails: ['hussienfarg89@gmail.com', 'ahmed@gmail.com']